.match-card {
  cursor: pointer;
  border-radius: 5px;
  transition: transform .3s ease-in-out;
}

.sound-card {
  cursor: pointer;
  border: 8px solid var(--bs-primary);
}

.match-card:hover,
.sound-card:hover {
  transform: scale(0.9);
}

